<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>home</h1>
 <a href="/newbook">newbook</a>
 <a href="/viewbook">viewbook</a>
 <a href="/delete">deletebook</a>
 <a href="/update">updatebook</a>

    <img src="http://localhost:3000/view/1.jpg" width="100px" height="100px" alt="">
</body>
</html>